<div class="container" id="form">
	<div id="ext-comp-1002" class=" x-panel x-form-label-top" style="width: auto;">
		<div class="x-panel-header x-unselectable" id="ext-gen8" style="-moz-user-select: none;">
			<span class="x-panel-header-text" id="ext-gen10">Basic Details
			</span>
		</div>
		<div class="x-panel-bwrap" id="ext-gen9">
			<form id="ext-gen7" method="POST" class="x-panel-body x-form" style="padding: 5px 5px 0pt; width: auto;">
				<div id="ext-comp-1003" class=" x-panel">
					<div class="x-panel-bwrap" id="ext-gen11">
						<div class="x-panel-body x-panel-body-noheader x-column-layout-ct" id="ext-gen12">
							<div class="x-column-inner" id="ext-gen16" style="width: 1035px;">
								<div id="ext-comp-1004" class=" x-panel x-form-label-top x-column" style="width: 517px;">
									<div class="x-panel-bwrap" id="ext-gen18">
										<div class="x-panel-body x-panel-body-noheader" id="ext-gen19" style="width: 517px;">
											<div class="x-form-item ">
												<label class="x-form-item-label" style="width: auto;" for="project-name">Project Title:
												</label>
												<div style="padding-left: 0pt;" id="x-form-el-project-name" class="x-form-element">
													<input type="text" name="project-title" id="project-title" size="20" class=" x-form-text x-form-field" style="width: 457px;">
												</div>
												<div class="x-form-clear-left">
												</div>
											</div>
											<div class="x-form-item ">
												<label class="x-form-item-label" style="width: auto;" for="project-alias">Project Alias:
												</label>
												<div style="padding-left: 0pt;" id="x-form-el-project-alias" class="x-form-element">
													<input type="text" name="project-alias" id="project-alias" size="20" class=" x-form-text x-form-field" style="width: 457px;">
												</div>
												<div class="x-form-clear-left">
												</div>
											</div>
											<div class="x-form-item ">
												<label class="x-form-item-label" style="width: auto;" for="project-domain">Project Domain:
												</label>
												<div style="padding-left: 0pt;" id="x-form-el-project-domain" class="x-form-element">
													<input type="text" name="project-domain" id="project-domain" size="20" class=" x-form-text x-form-field" title="" style="width: 457px;">
												</div>
												<div class="x-form-clear-left">
												</div>
											</div>
											<div class="x-form-item ">
												<div style="padding-left: 0pt;" id="x-form-el-project-domain" class="x-form-element">
													<input type="submit" value="Replace" style="font-size:1.2em;"/>
												</div>
												<div class="x-form-clear-left">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>